<html>
<body >
    <table
        style="font-weight: normal;border-collapse: collapse;border: 0;margin-left: auto;margin-right: auto;padding:
        0;font-family: Arial, sans-serif;color: #555559;background-color: white;font-size: 16px;line-height: 26px;width:
        600px;text-align: center;">
        <tr>
            <td style=" box-shadow: 0 10px 16px 1px rgba(247, 219, 174, 1);border-collapse: collapse;border: 2px solid
                #fff;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial,
                sans-serif;font-size: 16px;line-height: 26px;text-align: center;">
                <table
                    style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding:
                    0;font-family: Arial, sans-serif;text-align: center;">
                    <tr>
                        <td
                            style="border-collapse: collapse;text-align: center;border: 0;margin: 0;padding:
                            0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size:
                            16px;line-height: 26px;">
                            <div>
                                <h1><strong style="color: #D85F15; ">Sendy Shop,</strong></h1><br />
                                <h4>Click this <a style="color: #D85F15; "
                                        href={{.Message}}><strong>link</strong></a> to reset
                                    your password!</h4><br />
                            </div>
                        </td>
                    </tr>                 
                </table>
            </td>
        </tr>
    </table>
</body>
</html>